* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

main {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 145, 145);
}

body {
    background-color: #999999;
}

.logo  {
    display: flex;
    margin: 0px;
    width: 100%;
    border-radius: 15px;
}

.box {
    background-color: rgb(115, 115, 115);
    display: flex;
    flex-direction: column;
    margin: 16px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    text-align: center; /* Centrer le contenu horizontalement */
    width: 25%;
    height: 25%;
    border-radius: 15px;
    border-collapse: separate; 
    margin-top: 50px;
    border: 1px solid black;
}


.text {
    text-transform: capitalize;
    text-align: center;
    font-family: "Oswald", sans-serif;
    width: 100%;
}

.text > h3 {
    padding-top: 10px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    padding-bottom: 10px;
    text-shadow: 3px 1px 3px rgba(0,0,0,0.29);
    border-top: 2px solid black;
    
}

.logo > img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p {
    font-size: 20px;
    line-height: 1,5; /* Espacement entre les lignes de texte */
     /* Alignement du texte à gauche */
    margin-bottom: 5px; /* Espacement entre chaque ligne de texte */
    padding-bottom: 10px;
    text-shadow: 3px 1px 3px rgba(0,0,0,0.29);
}

.logotext > h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    justify-content: center;
    margin: 25px;
    text-shadow: 3px 1px 3px rgba(0,0,0,0.29);
    
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(115, 115, 115);
    border: 1px solid black;
}

.mlogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(BMW-M-Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: 3px 1px 3px rgba(0,0,0,0.29);
}

.links {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 75px;
    margin-right: 75px; */
    margin: auto 10% 0% 10%;
}

.infos > p {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #999999;
    border: 1px solid black;
} 